[submodule "android/libs"]
	path = android/spindance.code-challenge.mobile.android.weather-sensor-service
	url = https://github.com/spindance/spindance.code-challenge.mobile.android.weather-sensor-service/
